!
frr version 10.0.1
frr defaults traditional
hostname sonic
log syslog informational
log facility local4
no ip nht resolve-via-default
no ipv6 nht resolve-via-default
zebra nexthop-group keep 1
fpm address 127.0.0.1
no fpm use-next-hop-groups
agentx
no service integrated-vtysh-config
!
password zebra
enable password zebra
!
router bgp 65001
 bgp router-id {{ switch.lo0_ip_address }}
 bgp bestpath as-path multipath-relax
 neighbor SPINE peer-group
 neighbor SPINE remote-as external
 neighbor SPINE bfd
 neighbor SPINE advertisement-interval 5
 neighbor SPINE timers 3 9
 neighbor SPINE capability extended-nexthop
 neighbor Ethernet112 interface peer-group SPINE
 neighbor Ethernet116 interface peer-group SPINE
 !
 address-family ipv4 unicast
  redistribute connected
  neighbor SPINE allowas-in 1
  maximum-paths 2
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor SPINE activate
  advertise-all-vni
  advertise ipv4 unicast
 exit-address-family
exit
!
end
